@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
header, main{
    margin: 0 136px;
}
.text-grayish-blue{
    padding-top: 1.8rem;
    color: rgba(19, 19, 24, 0.70);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;  
}
.nav-title{
    display: flex;
    width: 50%;
}
.title-img{
    /* margin-top: 1.4rem; */
    width: 48px;
    height: 56.008px;
}
.section-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    padding-left: 1rem;
}
.text-travel{
    color: #FF5400;
}
.nav-link{
    width: 50%;
    
}
.nav-link ul{
display: flex;
justify-content: space-between;
}

.nav-link li{
    list-style: none;
    /* margin-right: 136px; */

}

.nav-link li a{
    text-decoration: none;
    font-size: 18px;
    color: #424247;
}
.title-home{
    color: #FF5400;
}

.banner{
    
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url("/Images/banner.png");
    background-position: bottom center;
    background-size: cover;
    height: 70vh;
    width: auto;
    margin: 8px;
    border-radius: 16px;
    margin-top: 4rem;
    text-align: center;
    padding-top: 5rem;
}
.banner-title{
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;
}
.banner-text{
    color: #FFF;
    padding: 24px 247px;
}
.banner-search{
    height: 84px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin:0 185px;
    display: flex;
}
.banner-search-where-go, .banner-search-when, .banner-search-select-type, .btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-left: 1rem;
    border: none;
    color: rgba(19, 19, 24, 0.50);
}
.btn-primary{
    background: #FF5400;
    font-weight: 700;
    color: #FFF;
}
.popular-section{
   margin-top: 4rem;
   display: flex;
}
.popular-section-text{
 
    padding-right: 5rem;
}
.popular-section-text-title{
    border-top: 4rem;
    color: #131318;
    font-weight: 800;
}

ul {
    padding: 2rem;
}
.btn-popular{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 1rem;
    border: none;
    text-align: center;
    font-weight: 800;
    color: #FFF;
    margin-bottom: 1rem;
}
.destination-text{
    margin-top: 5rem;
    text-align: center;

}
.destination-header{
    color: #131318;
    font-weight: 800px;
    padding-bottom: 1.5rem;

}
.destination-text > .text-grayish-blue{
    padding: 0 10rem;
}
.destination-img img{
    margin:1rem 0 1rem 0;
    gap: 2rem;
}
.choose-us-text{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.choose-us-header{
    color: #131318;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.choose-us-text > .text-grayish-blue{
    padding: 0 15rem;
}
.choose-us-box{
display: flex;
}
.box-1, .box-2, .box-3{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding: 1.5rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    margin-top: 2rem;

   
}
.box-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-us-box > .box-2{
margin-left: 4rem;
}
.box-3{
    
    margin:32px 310px;
    }

    .box-1 > h1, .box-2 > h1, .box-3> h1{
        color: #131318;
        margin: 32px 0 16px;
    }
    .box-1 > p, .box-2 > p, .box-3> p{
        color: #5A5A5D;

    }
    .discount-text{
        text-align: center;
    }
    .discount-text h1{
        color: #131318;
        font-weight: 800px;
    }
    .discount-section-img1, .discount-section-img2{
        background: url("/Images/discount_img_1.png"), lightgray 50% / cover no-repeat;
        background-position: bottom center;
        background-size: cover;
        height: 70vh;
        width: 100%;
        margin:2rem 0;
        border-radius: 16px;
        padding-top: 5rem;
        position: relative;

    }
    .discount-section-img2{
        background: url("/Images/discount_img_2.png"), lightgray 50% / cover no-repeat;
        position: relative;
    }

    .discount-section-img-text{


        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        width: 579px;
        height: auto;
        /* margin-bottom: 2rem; */
        margin-left: 40%;
        padding: 2rem;
        position: absolute;
        top: 8%;
        
    }
    .discount-tour-plan{
        display: flex;

        /* gap: 1rem; */
    }

    .discount-tour-plan {
        /* display: flex; */
        margin-right: 1rem;


    }

    .discount-tour-plan p{
        /* display: flex; */
        margin-right: 1rem;

    }

    


    .discount-section-img-text > img p {
        border: 2rem;
    }
    .discount-section-img2 > .discount-section-img-text{
        margin-left: 5%;
    }

   .discount-section-img-text h1{
    margin: 10px 0 12px;

   }
   .discount-section-img-text h3{
    margin: 10px 0 12px;
    font-size: 20px;
    font-weight: 800;
    color: #FF5400;

   }
   .btn-book{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
   }


   .simple-section{
    display: flex;
    margin: 100px 0;
   }
   .simple-section-text{
    width: 50%;
   }
   .simple-section-image{
     width: 50%;
   }

   .simple-section-image img{
    width: 100%;
  } 

.simple-section-text .btn-primary{
    margin: 0;
    padding: 0;
    text-align: center;
}
.newsletter-form{
    width: 40%;
    border: 1px solid #FF5400 ;
    border-radius: 1rem;
    gap: 20px;
}
.newsletter-text, .form{
    margin: 40px;
}

.form-border{
    border-top: 1px solid rgba(19, 19, 24, 0.10);
    width: 393px;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form input , button{
    width: 393px;
    height: 52px;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 0.5rem;
    border: none;
    padding: 20px;
}
.form button{
    background: #FF5400;
}
.newsletter{
    display: flex;
    gap: 1.5rem;
    
}
.newsletter-img{
    width: 60%;
    position: relative;
}
.newsletter-img img{
    width: 100%;
}
.discount-box{
    background: #FF5400;
    width: max-content;
    padding: 10px;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 5.3rem;
    right:-0.70rem;
    transform: rotate(-45deg);
}

.discount-box h1{
    color: #FFF;
font-size: 32px;
font-weight: 800;

}

.discount-box p{
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;

}

/* Footer Section Styles */
footer {
    margin: 100px 0 0;
    padding: 0 100px;
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
    width: 100%;
    height: 70%;
  }
  .footer-top {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-desc {
    margin: 15px 0 33px;
  }
  .social-icon i {
    margin-bottom: 50px;
    gap: 2rem;
    padding-left: 23px;
  }
  .copyright {
    color: #131318;
    /* font-size: 16px; */
    margin: 3rem 0 0;
    padding-bottom: 2rem;
  }

@media screen and (max-width: 600px) {

    header, main{
        margin: 0 20px;
    }
    .nav-title{
        /* display: flex; */
        width: 100%;
    }
    .nav-link{
        display: none;
    }


   .banner{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
    width: auto;
   }
   .banner-text{
    padding: 20px;
   }
   .banner-search{
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 20px ;
    gap: 20px;
   }
   .banner-search-where-go{
    margin-top: 50px;
   }
   .banner-search-where-go, .banner-search-when, .banner-search-select-type, .btn-primary{
    width:auto;
    margin-right: 20px;
    
   }
   .popular-section{
    flex-direction: column;
   }
   .popular-section-text{
 
    padding-right: 0;
}
.popular-section-img img{
    margin-right: 1rem;
}
.choose-us-text{
    margin: 0;
    padding: 0;

}
.choose-us-text > .text-grayish-blue{
    padding: 0;
}
.choose-us-box{
    flex-direction:column ;
    
}
.box-1{
    width: 100%;
}
.choose-us-box > .box-2{
    margin-left: 0;
    width: 100%;
    }

.box{
    display: flex;
    flex-direction: column;

}
.box > .box-3{
    margin-left: 0;
    width: 100%;

}
.discount-section-img1{
    margin: 2rem 0 0;
    padding: 0;
}
.discount-section-img-text{
    height: 80%;
    width: 80%;

    margin-left: 3rem;
    padding: 2rem;
    margin-top: 2rem;
    border: 2px solid red;
}

.discount-section-img1 .discount-section-img-text{
    margin-top: 2rem;
}

.discount-section-img2 > .discount-section-img-text {
    margin-left: 9%;
}
.simple-section{
    flex-direction: column;
    gap: 1rem;
   }
   .simple-section-text{
    width: 100%;
   }
   .simple-section-image{
     width: 100%;
   }

   .simple-section-text .btn-primary{
    width: 150px;
    height: 52px;
   }
   .newsletter-form{
    width: 100%;

}
   .newsletter{
    flex-direction: column;
   }
   .newsletter-img{
    width: 100%;
}
.footer{
    margin: 0;
    padding: 0px;
}


}